.App {
display: flex;

}

.displayFrame {
  width: 75vw;
  height: 100vh;
  background-color: aliceblue;
}

.columnFrame {
  width: 25vw;
  height: 100vh;
  background-color: azure ;
}

.searchInputField {
  width: 98%;
}